@page "/orders"
<PageTitle>Užsakymai</PageTitle>
<body id="page-top">
<!-- Section-->
<h1>Užsakymai</h1>
<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

	@code {
		private int currentCount = 0;
		private void IncrementCount()
		{
			currentCount++;
		}
}
</body>