@page "/grybas"

<PageTitle>Sandėlis</PageTitle>
@inject ISearchProduct SearchProduct

<!--<h3>Paieška</h3>-->

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>


<table>
	<thead>
		<tr>
		<th>
			Pavadinimas
		</th>
		<th>
			Kaina
		</th><th>
			Kiekis
		</th>
		</tr>
	</thead>
	<tbody>
		@if(products != null && products.Count() > 0)
		{
			@foreach (var product in products)
			{
				<ProductItemComponent Preke="product"></ProductItemComponent>
			}
		}
		else
		{
			<tr>
				<td colspan="3">
					Nera
				</td>
			</tr>
		}

	</tbody>
</table>
<ul>
	@foreach (var prod in products)
	{
			<li>@prod.pavadinimas <img src=@prod.nuotrauka style="width:200px; padding:10px;"></li>
	}
</ul>

@code {
	private IEnumerable<Preke> products;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		products = SearchProduct.Execute("");
	}

	private void HandleSearch(string filter)
	{
		products = SearchProduct.Execute(filter);
	}
}