@page "/Register"

<PageTitle>Registracija</PageTitle>
<body id="page-top">
<form class="col-8 container ">
    <div class="form-floating mb-4">
        <input type="email" id="email" class="form-control" placeholder="Įveskite el.paštą"/>
        <label class="form-label" for="email">El.pašto adresas</label>
    </div>

    <div class="form-floating mb-4">
        <input type="password" id="password" class="form-control" placeholder="Įveskite slaptažodį"/>
        <label class="form-label" for="password">Slaptažodis</label>
    </div>
    
    <div class="form-floating mb-4">
        <input type="password" id="passwordrep" class="form-control" placeholder="Pakartokite slaptažodį"/>
        <label class="form-label" for="passwordrep">Pakartokite slaptažodį</label>
    </div>

    <a class="btn btn-outline-dark mt-auto" href="#!">Registruotis</a>
</form>
</body>