@inherits LayoutComponentBase
<PageTitle>StatybaServer</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-6">
            <NavBar/>
        </div>
        <article class="content px-4 m-4">
            @Body
        </article>
    </main>
</div>