@inherits LayoutComponentBase
<PageTitle>StatybaServer</PageTitle>

<style>
    ::-webkit-scrollbar{
        display: none; /* Turns off Chrome's scrollbar */
    }
</style>
<div class="page">
    <main>
        <div class="top-row px-6">
            <NavBar/>
        </div>
        <article class="content px-4 m-4">
            <CascadingValue Value="@_CartCount">
            @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code
{
    public int _CartCount { get; set; } = 0;

    public void Add()
    {
        _CartCount++;
    }
}