@if (this.Preke != null)
{
	<tr>
		<td>
			<NavLink href="@($"product/{Preke.IdPreke}")">
				@Preke.Pavadinimas
			</NavLink></td>
		<td>@Preke.VienetoKaina.ToString()</td>
		<td>@Preke.Kiekis.ToString()</td>
	</tr>
}

@code {
	[Parameter]
	public Preke Preke { get; set; }
}
