@if (this.Preke != null)
{
	<tr>
		<td>
			<NavLink href="@($"product/{Preke.id_preke}")">
				@Preke.pavadinimas
			</NavLink></td>
		<td>@Preke.vieneto_kaina.ToString()</td>
		<td>@Preke.kiekis.ToString()</td>
	</tr>
}

@code {
	[Parameter]
	public Preke Preke { get; set; }
}
