@page "/product/{id:int}"

@inject IViewProduct viewProduct

<div>
	<img src="@preke.Nuotrauka" />
	<br />
	@preke.Pavadinimas
	<br />
	@preke.VienetoKaina.ToString()
	<br />
	<br />
	@preke.Aprasymas

</div>
<NavLink href="/prodList">Atgalios</NavLink>

@code {
	private Preke preke;

	[Parameter]
	public int Id { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Id > 0)
			preke = viewProduct.Execute(Id);
	}
}
