@page "/product/{id:int}"

@inject IViewProduct viewProduct

<div>
	<img src="@preke.nuotrauka" />
	<br />
	@preke.pavadinimas
	<br />
	@preke.vieneto_kaina.ToString()
	<br />
	<br />
	@preke.aprasymas

</div>
<NavLink href="/grybas">Atgalios</NavLink>

@code {
	private Preke preke;

	[Parameter]
	public int Id { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Id > 0)
			preke = viewProduct.Execute(Id);
	}
}
